.App {
  text-align: center;
}

.App-logo {
  height: 160px;
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
}

.qqSelectNumberInput {
  height: 25px;
  width: 50px;
}

.qqSelectTextInput {
  width: 200px;
}

.qqTextInput {
  width: 50%;
}

.qqQuizItem {
  padding: 30px;
}

.qqStandardInputRow {
  padding: 15px;
  align-self: center;
}

.qqButton {
  padding: 15px;
}

.qqTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.qqTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.qqTable tr:nth-child(even) {
  background-color: #f2f2f2;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
