.App {
  text-align: center;
}

.App-logo {
  height: 160px;
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
}

.qqSelectNumberInput {
  height: 25px;
  width: 50px;
}

.qqSelectTextInput {
  width: 200px;
}

.qqTextInput {
  width: 50%;
}

.qqQuizItem {
  padding: 30px;
}

.qqStandardInputRow {
  padding: 15px;
  margin-left:15%;
  margin-right:15%;
}

.qqButton {
  padding: 20px;
}

.qqTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  padding: 15px;
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.qqTable td {
  border: 1px solid #ddd;
  padding: 5px;
}

.qqTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
